// Define variables for your color scheme

// For example:

// Usefull
$green: #18587A;
$gray: #212123;
$light-gray: #D9D9D9;

// useless
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
