// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// Define fonts for body and headers
$body-font: "Lato", "sans-serif";

$headers-font: "Lato", "sans-serif";


