
.info-content {
  width: 400px;
  padding-top: 10%;
    border-bottom: 0px solid #DFDFDF;
  & p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px !important;
    margin-bottom: 1% !important;
  }
}

.img-service {
  margin-bottom: 6%;
}

.info-service-description {
  border-top: solid 1px #DFDFDF;
  padding: 5% 0;
}

.profile-picture {
  float: right;
  text-align: center;
}

.body-content {
  font-weight: 300;
}

.info-content {
  font-weight: 300;
}

.box-service {
  border-top: solid 1px #DFDFDF;
  padding: 5% 0;
}

.last-box {
  border-top: solid 1px #DFDFDF;
  border-bottom: solid 1px #DFDFDF;
  padding: 5% 0;
}

.font-small {
  font-size: 15px;
}

.title-description {
  padding-bottom: 5%;
}

.container {

}

.bottom-zero {
  position: absolute;
  bottom: 0;
}

.margin-btn {
  margin: 3% 0;
}
