.banner-user {
  height: 150px;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-user h1 {
  color: white;
  font-family: 'FuriousStyles';
  margin-top: 35%;
  font-size: 70px;
  white-space: nowrap;
  margin-left: 5%;}

.banner-avatar {
  display: block;
  padding-right: 20%;
  min-height: 190px;
  min-width: 190px;
  max-width: 190px;
  background-position: center;
}

.info-box {
  color: white;
  width: 300px;
  height: 300px;
  padding-left: 2%;
  padding-top: 7%;
  background-color: RGBA(68, 94, 93, 1.00);
}

.info-description {
  padding-top: 5%;
  padding-left: 2%;
}

.background-user {
  background-color: rgba(33, 33, 35, .1);
  min-height: calc(100vh - 320px);
}

.user-edit {
  margin-top: 0;
  text-align: right;
}

.infos {
  height: 300px;
}

.infos li {
  list-style-type: none;
  font-weight: 300;
}

.infos ul {
  padding: 0;
  list-style-type: none;
}

.infos strong {
  margin-bottom: 2%;
}

.details {
  padding-left: 3%;
}

.infos-last-booking {
  width: 100%;
  background-color: white;
  padding: 2%;

}

// .banner-content {
//   color: white;
// }

// .banner-content h1 {
//   font-size: 60px;
// }

// .banner-content p {
//   font-size: 30px;
//   margin-bottom: 80px;
// }
