
.info-content {
  padding-top: 10%;
}

.img-service {
  margin-bottom: 6%;
}

.info-service-description {
  border-top: solid 1px #DFDFDF;
  padding: 5% 0;
}

.profile-picture {
  float: right;
  text-align: center;
}

.body-content {
  font-weight: 300;
}

.info-content {
  font-weight: 300;
}

.description-service {
  border-top: solid 1px #DFDFDF;
  padding: 5% 0;
}

.font-small {
  font-size: 15px;
}

.title-description {
  padding-bottom: 5%;
}
