.banner-user {
  height: 150px;
  text-align: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-user h1 {
  color: white;
  font-family: 'FuriousStyles';
  margin-top: 35%;
  font-size: 70px;
  white-space: nowrap;
  margin-left: 5%;}

.banner-avatar {
  display: block;
  padding-right: 20%;
  min-height: 190px;
  min-width: 190px;
  max-width: 190px;
  background-position: center;
  border: solid white 4px;
}

.info-box {
  margin-top: 2%;
  color: white;
  width: 300px;
  height: 300px;
  padding-left: 2%;
  padding-top: 4%;
  background-color: $green;
  border-radius: 3px;
}

.info-description {
  padding-top: 2%;
  padding-left: 2%;
}

.background-user {
  background-color: rgba(33, 33, 35, .1);
  // min-height: calc(100vh - 320px);
}

.user-edit {
  margin-top: 0;
  text-align: right;
}

.infos li {
  list-style-type: none;
  font-weight: 300;
}

.infos ul {
  padding: 0;
  list-style-type: none;
}

.infos strong {
  margin-bottom: 2%;
}

.details {
  padding-left: 3%;
}

.infos-last-booking {
  width: 100%;
  background-color: white;
  padding: 2%;
  margin-left: 5%;
}

.exp-cards {
  padding: 2%;
  margin-bottom: 20px;
  background-size: cover !important;
  background-position: center;
  height: 160px;
  width: 300px;

   .exp-description {
    background-color: RGBA(34, 35, 53, .60);
    height: 100px;
    color: white;
    padding-left: 2%;
    overflow: hidden;
    }
}

.exp-description h2 {
  margin-bottom: 0;
  margin-top: 2%;
}

.exp-description p {
  font-size: 12px;
}

.exp-description hr {
  margin: 1%;
}
