<%= render 'shared/banner', image: cl_image_path(@service.photo) %>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <h2>Create a booking</h2>

      <%= simple_form_for([@service, @booking]) do |f| %>
        <div class="form-inputs">

          <div class="form-group">
            <label for="name">Choose your date and hour </label>
            <div class='input-group date' id='datetimepicker11'>
                <input type='text' class="form-control" name="booking[date_start]">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
          </div>

          <%= f.input :nb_hour%>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script type="text/javascript">
      $(function () {
          $('#datetimepicker11').datetimepicker({
              inline: false,
              sideBySide: false
          });
      });
  </script>
<% end %>
