<header class="heropanel--video" data-vide-bg="mp4: http://res.cloudinary.com/dyub4bz6x/video/upload/v1502726560/covervid_sfoigx.mp4", poster: https://static.pexels.com/photos/342469/pexels-photo-342469.jpeg data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%">
    <div class="heropanel__content">
         <h1><a href="/" rel="home">POSEIDON</a></h1>
    </div>
 </header>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
