<%= render 'shared/banner', image: "http://res.cloudinary.com/dzly3hnxk/image/upload/c_scale,w_2000/v1502443713/pexels-photo-509791_noiet8.jpg" %>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
