// custom classes
.btn-primary {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: $green;
  background-color: white;
  border: 2px solid $green;
  padding: 8px 20px;
  margin: 0 auto;
  opacity: .7;
}

form .btn-primary {
  margin: 10px auto;
}

.btn-primary:hover{
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: white;
  background-color: $green;
  border: 2px solid $green;
  padding: 8px 20px;
  opacity: 1;
}

.btn-primary-inverse {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: white;
  background-color: $green;
  border: 2px solid $green;
  padding: 8px 20px;
  margin: 0 auto;
}

.btn-primary-inverse:hover{
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: $green;
  background-color: white;
  border: 2px solid $green;
  padding: 8px 20px;
}

.btn-full-width {
  width: 100%;
}

.btn-facebook {
  border: 2px solid $blue;
}

.btn-facebook:hover {
  background-color: $blue;
  border: 2px solid $blue;
}

// dashboard-btn

.btn-accept {
  min-width: 55px;
  font-size: 10px;
  color: green;
  background-color: white;
  border: 2px solid green;
  border-radius: 15px;
  padding: 4px 10px;
  margin: 0 auto;
  opacity: .7;
  margin-bottom: 5px;
}

.btn-accept:hover{
  color: white;
  background-color: green;
  border: 2px solid green;
  opacity: 1;
}

.btn-decline {
  min-width: 55px;
  font-size: 10px;
  color: red;
  background-color: white;
  border: 2px solid red;
  border-radius: 15px;
  padding: 4px 10px;
  margin: 0 auto;
  opacity: .7;
}

.btn-decline:hover{
  color: white;
  background-color: red;
  border: 2px solid red;
  opacity: 1;
}


