.row a {
  text-decoration: none;
}

.row a {
  text-decoration: none;
}

.post {
  display: flex;
  margin-top: 2em;
  min-height: 100px;
  background-color: #fff;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.1);
  border-radius: 2px;
  border-left: 7px solid $light-gray;
  overflow: hidden;
}

.post .card-author {
  position: relative;
  min-width: 200px;
  max-width: 300px;
  background-color: #f4f4f4;
  overflow: hidden;
}


.post .card-author .post-author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.post .card-author .post-author img {
    width: 75px;
    height: 75px;
    filter: grayscale(100%);
    border-radius: 50%;
}

.post .card-author .post-author .author-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #454545;
}

.post .card-author .post-author .author-details .author-name {
  text-align: center;
}

.post.card-author .post-author .author-details .author-position {
    font-size: 12px;
    font-style: normal;
    text-align: center;
}

.post .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 75%;
    padding: 15px;
    min-height: 100px;
    padding: 0 20px;
    background-color: white;
}

.post .card-content ul {
    display: flex;
    margin-top: 20px;
    -webkit-padding-start: 0px;
}

.post .card-content ul li {
    padding: 3px 5px 1px;
    margin-right: 10px;
    background-color: $green;
    border-radius: 2px;
    color: white;
    font-size: 0.7em;
    text-transform: capitalize;
}

.post .card-content h2 {
  margin-top: 5px;
  font-size: 19px;
  font-weight: bold;
}

.post .card-content .description {
  margin-top: 0;
  height: 85px;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0px;
  color: #7D7D7D;
}

.post .card-content .read-time {
  position: absolute;
  bottom: 20px;
  font-size: 0.7em;
  background: transparent;
  color: #8a8a8a;
}
