// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

///
@font-face {
  font-family: 'FuriousStyles';
  src:url('FuriousStyles.eot');
  src:url('FuriousStyles.eot?#iefix') format('embedded-opentype'),
    url('FuriousStyles.svg#FuriousStyles') format('svg'),
    url('FuriousStyles.woff') format('woff'),
    url('FuriousStyles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// pour retirer focus color
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: white;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0);
    outline: 0 none;
}

body {
  background-color: white;
  text-decoration: none;
}



h1 h2 h3 h4 {
font-family: "Lato", "sans-serif";
font-weight: 500;
text-transform: capitalize;
letter-spacing: 7px;
}

p {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 1em;
}

a{
  opacity: .7;
}
a:hover {
  text-decoration: none;
  color: $green;
  opacity: 1;
}

.container-footer {
  min-height: calc(100vh - 170px);
}

.padded {
  padding: 20px 0px;
}

#icon-big {
  color: $green;
  font-size: 2.5em;
}


// video hero header
.heropanel--video {
    font-family:sans-serif;
    min-height:500px;
}

.heropanel__content {
  //pour slide le H1
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
//line
    // border-bottom:1px solid #FFF;
    margin:0 auto;
    max-width:50%;
    padding:4em 0 2em;
    text-align:center;
}

.heropanel__content h1 {
    margin: 10%;
    text-transform:uppercase;
    font-family: 'FuriousStyles';
    color: white;
    font-size: 80px;
}

.heropanel__content h1 a {
    color:#FFF;
    text-decoration:none;
    font-family: 'FuriousStyles';
}

.heropanel__content p {
    color:#fff;
    margin:0;
    text-transform:uppercase;
}


//searchbar
.search .form-group-navbar-home {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.search .form-group-navbar-button {
  width: 40px;
}
.search .form-group {
  width: 50%;
  margin: 0 auto;
}

.search .searchbar {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  text-align: center;
  letter-spacing: 2.6px;
  color: white;
  background-color: rgba(250, 250, 250, 0);
  border:solid white;
  border-width: 2px 0px 2px 2px;
  border-radius: 2px;
  padding: 8px 20px;
  margin: 0 auto;
}

.search .input-group-addon {
  background-color: rgba(250, 250, 250, 0);
  border: solid white;
  border-width: 2px 2px 2px 0px;
  border-left: 1px solid white;
  border-radius: 2px;
}

.search .input-group-addon:last-child{
  color: white;
}

.search .input-group-addon:last-child:hover {
  color: $green;
}


/*---------- CARDS LAYOUT ----------*/

$card-background:     #fff;
$card-border-width:   0;
$card-border-color:   #eee;
$card-radius:         0;


.price {
  color: $light-gray;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300px;
  opacity: .7;
}




// .form-group .fa-search {
// flex: 2;

// .form-group .searchbar {
//   flex: 1;
// }

.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.top-card {
  margin: 2%;
}

.card_heading{
 margin:0;
 margin-bottom: 2%;
}

.post-author img {
  border-radius: 50px;
}

.cards_item {
  display: flex;

  .no-flexbox & { float: left; }
    margin-top: 0;
    padding: 0 1em 2em;

    // > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
      width: 50%;
      .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

    // > 960px, 3 items/row
    @media screen and (min-width: 60em) {
      width: 33.3333%;
      .no-flexbox &:nth-child(3n+1) { clear: both; }
    }
  }

.card {
  display: flex;
  flex-direction: column;

  background-color: $card-background;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-radius;
}

.card_image {
  img {
    width: 100%;
    border-top-left-radius: ( $card-radius - $card-border-width );
    border-top-right-radius: ( $card-radius - $card-border-width );
      }
}

.card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
  height: 350px;
  background-color: rgba(200, 200, 200, .1);
}


.card_content p {
  font-size: 14px;
  margin-top: 10px;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  height: 100px;
  overflow: hidden;
}

.btn-card {
  margin-top: 10%;
}

