// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

///
@font-face {
  font-family: 'FuriousStyles';
  src:url('FuriousStyles.eot');
  src:url('FuriousStyles.eot?#iefix') format('embedded-opentype'),
    url('FuriousStyles.svg#FuriousStyles') format('svg'),
    url('FuriousStyles.woff') format('woff'),
    url('FuriousStyles.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//



body {
  background-color: white;
  text-decoration: none;
}

h1 h2 h3 h4 {
font-family: "Lato", "sans-serif";
font-weight: 500;
text-transform: capitalize;
letter-spacing: 7px;
}

p {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1em;
}

a{
  opacity: .7;
}
a:hover {
  text-decoration: none;
  color: $green;
  opacity: 1;
}

.padded {
  padding: 20px 0px;
}

// custom classes
.btn-primary {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: $green;
  background-color: white;
  border: 2px solid $green;
  padding: 8px 20px;
  margin: 0 auto;
  opacity: .7;
}

.btn-primary:hover{
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: white;
  background-color: $green;
  border: 2px solid $green;
  padding: 8px 20px;
  margin: 0 auto;
  opacity: 1;
}

//post
 .post:hover {
    border-left: 9px solid $green;
 }
// video hero header
.heropanel--video {
    font-family:sans-serif;
    min-height:500px;
}

@keyframes gm-slidein {
    from {
        -webkit-transform:translate3d(0,-100%,0);
        opacity:0;
        transform:translate3d(0,-100%,0);
    }

    to {
        -webkit-transform:none;
        opacity:1;
        transform:none;
    }
}

.heropanel__content {
  //pour slide le H1
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
//line
    // border-bottom:1px solid #FFF;
    margin:0 auto;
    max-width:50%;
    padding:4em 0 2em;
    text-align:center;
}

.heropanel__content h1 {
    margin: 10%;
    text-transform:uppercase;
    font-family: 'FuriousStyles';
    color: white;
    font-size: 80px;
}

.heropanel__content h1 a {
    color:#FFF;
    text-decoration:none;
    font-family: 'FuriousStyles';
}

.heropanel__content p {
    color:#fff;
    margin:0;
    text-transform:uppercase;
}


//searchbar
#custom-search-input {
        margin:auto;
        margin-top: 10px;
        padding: 0;
        width: 50%;
        opacity: .9;
    }

#custom-search-input .form-control{
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  text-align: center;
  letter-spacing: 2.6px;
  color: white;
  background-color: rgba(250, 250, 250, 0);
  border: 2px solid white;
  padding: 8px 20px;
  margin: 0 auto;
}

#custom-search-input .p {
  color: white;
}

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        color:$green;
    }

    .search-query:focus + button {
        z-index: 3;
    }

   //card
/*---------- CARDS LAYOUT ----------*/

$card-background:     #fff;
$card-border-width:   0;
$card-border-color:   #eee;
$card-radius:         0;


.cards {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.top-card {
  margin: 2%;
}

.card_heading{
 margin:0;
}

.post-author img {
  border-radius: 50px;
}

  .cards_item {
    display: flex;
    .no-flexbox & { float: left; }

    margin-top: 0;
    padding: 0 1em 2em;

    // > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
      width: 50%;
      .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

    // > 960px, 3 items/row
    @media screen and (min-width: 60em) {
      width: 33.3333%;
      .no-flexbox &:nth-child(3n+1) { clear: both; }
    }

  }

    .card {
      display: flex;
      flex-direction: column;

      background-color: $card-background;
      border: $card-border-width solid $card-border-color;
      border-radius: $card-radius;
    }

      .card_image {
        img {
          width: 100%;
          border-top-left-radius: ( $card-radius - $card-border-width );
          border-top-right-radius: ( $card-radius - $card-border-width );
        }
      }

      .card_content {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        margin-top: 0;
        padding: 1.5em;
        height: 300px;
      }

.card_content p {
  margin-top: 10px;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  height: 100px;
  overflow: hidden;
      }
