// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


body {
  background-color: white;
}

h1 h2 h3 h4 {
font-family: "Lato", "sans-serif";
font-weight: 500;
text-transform: capitalize;
letter-spacing: 7px;
}

p {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1em;
}

.btn-primary {
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: $green;
  background-color: white;
  border: 2px solid $green;
  padding: 8px 20px;
  margin: 0 auto;
  opacity: .7;
}

.btn-primary:hover{
  font-family: "Lato", "sans-serif";
  font-weight: 300;
  letter-spacing: 2.6px;
  color: white;
  background-color: $green;
  border: 2px solid $green;
  padding: 8px 20px;
  margin: 0 auto;
  opacity: 1;


}
